@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

Body {
font-family: 'Montserrat' , sans-serit; overflow-x hidden;
	
}

<!-- Menu -->  
#menu li > a {
	font-size:18px;
	font-weight:bold;
	color: #3f3f3f;
}

#menu form > button{
	font-size:18px;
	font-weight:bold;
}

<!-- Slider de Imagenes -->
.carousei-inner {
	   max-height:39rem;
}

<!-- Media Queries pantalla -->
@media (max-width:768px) {
	#intro {
		width:90% !important;
	}
}